.container-corsiSingoli {
    width: 90%; /* Larghezza del contenitore */
    margin: 120px auto 400px; /* Centra il contenitore orizzontalmente */
}

.corsiSingoli h1 {
    font-size: 2em; /* Dimensione del font per l'intestazione */
    color: #000f38; /* Colore del testo */
    margin-bottom: 20px; /* Spaziatura sotto l'intestazione */
}

.corsiSingoli p {
    font-size: 1.1em; /* Dimensione del font per il paragrafo */
    line-height: 1.6; /* Altezza della linea per una migliore leggibilità */
    color: #555; /* Colore del testo */
    text-align: justify; /* Giustifica il testo */
    margin-bottom: 20px; /* Spaziatura sotto il paragrafo */
}

.corsiSingoli h3{
    text-align: right;
    color: #333;
    font-size: medium;
}

.corsiSingoli span{
    color: rgba(0, 0, 255, 0.897);
    
}

.corsiSingoli span:hover{
    color: rgb(0, 0, 161);
    text-decoration: underline;
}

@media(max-width: 900px){
    .corsiSingoli p {
        font-size: 18px
    }
  }