.programs {
    margin: 30px auto;          /* 80 sotto poiche c'è padding ai link */
    width: 90%;                 /* Larghezza del contenitore al 90% della larghezza del suo contenitore genitore */
    display: flex;              /* Il contenitore .programs è un flex container */
    align-items: center;        /* Centra verticalmente gli elementi figli all'interno del flex container */
    justify-content: space-between; /* Spazio uniforme tra gli elementi figli lungo l'asse principale (orizzontale) */
}

.programs.first{
    margin-top: 50px;
}

.program-column{
    flex-basis: 48%;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,15,152,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;    opacity: 0;
    padding-top: 70%;
    padding-top: 70%;
    transition: 0.4s;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}

.program-column h3{
    text-align: center;
    margin: 10px auto;
    font-size: 24px;
    color: #001f3d;;
}

.program-column h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 900px){
    .programs {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .program-column{
        width: 100%;
    }
}