.cookie-link {
  color: #4CAF50; /* Verde per il link */
  text-decoration: underline;
  font-weight: bold;
  margin-left: 10px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.cookie-link:hover {
  color: #009407; /* Verde scuro per l'effetto hover */
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2); /* Leggero effetto ombra */
}
