.Polo128CdL table{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto 90px;
    font-size: 18px;
    text-align: left;
    border: none;
}

.Polo128CdL table th, .Polo128CdL table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
  }
  
  .Polo128CdL table thead th {
    background-color: #212ae0;
    color: #ffffff;
  }

  .Polo128CdL table thead th:first-child {
    background-color: transparent;
    border: none;
  }
  
  .Polo128CdL table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .Polo128CdL table tbody tr:hover {
    background-color: #ddd;
  }
  
  .Polo128CdL table tbody td {
    border: 1px solid #dddddd;
  }

  @media (max-width: 900px) {
    .Polo128CdL table{
      font-size: 14px;
      width: 100%;
  }
  .Polo128CdL table th, .Polo128CdL table td {
    padding: 12px 8px;
    border: 1px solid #dddddd;
  }

  .Polo128CdL table thead th {
    font-size: 12px;
  }
  }