.hero {
    width: 100%; /* Larghezza del 100% della finestra del browser */
    min-height: 100vh; /* Altezza minima pari all'altezza della finestra del browser (viewport) */    
    background-size: cover; /* Dimensiona l'immagine di sfondo per coprire completamente l'elemento */
    /*background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url('../../assets/hero_3.jpg'); /* Sfondo composto da un gradiente e un'immagine */
    background-position: center; /* Posiziona l'immagine di sfondo al centro dell'elemento */
    background-size: cover;
    color: #fff; /* Colore del testo bianco */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.hero-text{
    text-align: center;
    width: 1000px;
    padding: 0 20px;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}

.hero-text p {
    max-width: 700px; /* Larghezza massima del paragrafo */
    margin: 10px auto 20px; /* Margini: 10px sopra, centrato orizzontalmente, 20px sotto */
    line-height: 1.4; /* Altezza della linea pari a 1.4 volte la dimensione del carattere */
}

/*media query*/

@media (max-width: 850px){
    .hero-text h1{
        font-size: 40px;
    }
}

@media (max-width: 650px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text{
        font-size: 14px;
        margin: 15px auto 30px;
    }
    .hero{
        min-height: 80vh;
    }
}