/* Contenitore principale del TFA */
.TFA-container {
  display: flex; /* Utilizza Flexbox per il layout */
  align-items: center; /* Allinea verticalmente al centro */
  box-sizing: border-box; /* Include il padding e il bordo nel calcolo della larghezza totale */
}

.sfondoNavber2 img{
  max-width: 100%;
  height: auto;
  margin: 80px auto 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Contenitore per l'immagine del TFA */
.TFA-image-container {
  flex: 1; /* L'immagine occupa uno spazio flessibile */
  border-radius: 10px; /* Bordi arrotondati per l'immagine */
  overflow: hidden; /* Nasconde eventuali parti dell'immagine che fuoriescono */
}

/* Immagine del TFA */
.TFA-image {
  margin: 0 auto;
  max-width: 800px;  
  height: auto; /* Mantiene le proporzioni dell'immagine */
  display: block; /* Rimuove eventuali spazi inferiori all'immagine */
}

/* Paragrafo e elenco all'interno delle sezioni */
.TFA-section p,
.TFA-section li {
  font-size: 18px; /* Dimensione del font migliorata */
  line-height: 1.6; /* Maggiore altezza della linea per leggibilità */
  color: #333; /* Colore del testo scuro per contrasto */
  margin: 15px 0;
}

.TFA-section ul li ul li {
  margin-left: 15px; /* Aggiunge un leggero margine a sinistra */
}


/* Case Study CSS */
.case-study-container {
  width: 90%;
  margin: 50px auto 90px;
  padding: 40px; /* Maggiore padding per più spazio interno */
  background: linear-gradient(to right, #003e70, #0062d1d5);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Ombra più intensa per contrasto */
  color: #ecf0f1; /* Colore del testo chiaro per contrastare con lo sfondo scuro */
  box-sizing: border-box;
}

.case-study-title {
  font-size: 32px; /* Leggermente più grande per maggiore impatto */
  color: #ecf0f1; /* Colore del titolo chiaro */
  margin-bottom: 25px; /* Maggiore spazio sotto il titolo */
  text-align: center;
  font-weight: bold;
}

.case-study-content {
  font-size: 18px;
  line-height: 1.8;
  color: #ecf0f1; /* Colore del testo chiaro */
  position: relative;
}

.case-study-content p {
  margin-bottom: 30px; /* Maggiore spazio inferiore tra i paragrafi */
}

.case-study-content img {
  position: absolute;
  top: -80px; /* Spazio dall'alto del contenitore */
  right: -80px; /* Spazio dal lato destro del contenitore */
  width: 140px; /* Larghezza dell'immagine */
}


@media (max-width: 900px) {
  .case-study-container {
    padding: 20px 30px;
  }

  .case-study-content p {
    font-size: 16px;
    text-align: center;

  }

  .case-study-content img {
    position: absolute;
    top: -70px; /* Spazio dall'alto del contenitore */
    right: -70px; /* Spazio dal lato destro del contenitore */
    width: 100px; /* Larghezza dell'immagine */
  }
}

@media (max-width: 900px) {
  .sfondoNavber2{
    display: none;
  }
  .noSfondoNavbar2{
    margin-top: 120px;
  }
  .TFA-section p,
  .TFA-section li {
  font-size: 14px; /* Dimensione del font migliorata */
  line-height: 1.6; /* Maggiore altezza della linea per leggibilità */
  color: #333; /* Colore del testo scuro per contrasto */
  margin: 15px 0;
  }
}