.moscati-container {
  max-width: 90%;
  margin: 50px auto 90px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.moscati-top-section {
  display: flex;
  background: linear-gradient(to right, #003366, #6b92fd);
  padding: 20px;
  color: white;
  flex-wrap: wrap; /* Consente il wrapping dei figli */
}

.content-box {
  flex: 1; /* Occupa tutto lo spazio disponibile a sinistra */
  display: flex;
  flex-direction: column;
}

.moscati-logo {
  height: 60px;
  border-radius: 10px;
}

.moscati-title h1 {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  text-align: left;
  line-height: 1.6;
}

.moscati-title {
  margin: 20px 0;
  margin-left: 3%;
}

.moscati-features {
  list-style: none;
  padding: 0;
  text-align: left;
  color: #ffffff;
  margin-left: 3%;
}

.moscati-features li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.moscati-features li::before {
  content: '🗸';
  margin-right: 10px;
  color: #28a745;
}

.moscati-features hr {
  border: 0;
  border-top: 1px solid #ffffff;
  margin: 10px 0;
}

.moscati-bottom-section {
  background-color: #ffffff;
  padding: 20px 30px;
  text-align: center;
}

.moscati-cta {
  display: flex;
  justify-content: end;

}

.image-box-Moscati{
  display: grid;
  place-items: center;
  margin-left: 50px;
}

.image-box-Moscati img{
  width: 250px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .moscati-top-section {
      display: flex;
      flex-direction: column; /* Disposizione verticale per schermi più piccoli */
      align-items: center;
  }

  .content-box {
      flex-direction: column; /* Disposizione verticale per contenuti */
      text-align: center; /* Centratura del testo */
      margin-left: 0; /* Rimuove il margine sinistro per una migliore visualizzazione */
  }

  .moscati-features {
      margin-left: 0;
  }

  .moscati-cta{
      display: flex;
      justify-content: flex-end;
  }

  .moscati-cta-text {
      display: none;
  }

  .image-box-Moscati {
      margin: 20px auto;
  }

  .moscati-title h1 {
      font-size: 24px;
      color: #ffffff;
      margin: 0;
      text-align: center
  }

  .moscati-logo-div {
      display: flex;
      justify-content: left;
      height: 40px;
  }

  .moscati-logo-div img {
      height: 50px;
  }
}