/* Componenti del dropdown */
.four-drop-component {
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 4px;
  margin: 0px auto 60px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.drop-item {
  border-bottom: 1px solid #dee2e6;
}

.drop-item:last-child {
  border-bottom: none;
}

.drop-header {
  background: #343a40a9;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-size: 16px;
  font-weight: 600;
}

.drop-header:hover {
  background: #495057;
}

.drop-header.active {
  background: #495057;
}

.drop-content {
  padding: 15px;
  background: #f8f9fa;
  color: #495057;
  border-radius: 0 0 4px 4px;
  animation: slideDown 0.3s ease;
}

.arrow {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.drop-header.active .arrow {
  transform: rotate(360deg);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Stili delle tabelle */
.drop-content table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
}

.drop-content th,
.drop-content td {
  padding: 10px;
  text-align: left;
}

/* Larghezza fissa per la prima colonna */
.drop-content th:first-child,
.drop-content td:first-child {
  width: 300px;
}

.drop-content th {
  background-color: #343a40;
  color: white;
  font-size: 2px;
  font-weight: 600;
}

.ProgrammaCdL label{
  color: #444;
  font-weight: bold;
  font-size: 18px;
}

.drop-content ul li {
  list-style: none;
  line-height: 1.6;
}

.drop-content a {
  text-decoration: underline;
  color: blue;
}

.drop-content a:hover {
  color: rgb(0, 0, 158);
}

.drop-content td:nth-child(2) {
  padding-left: 20px; /* Distanza fissa dalla colonna di sinistra */
}

.drop-content tr:nth-child(even) {
  background-color: #f8f9fa;
}


.drop-content th:first-child,
.drop-content td:first-child {
  border-top-left-radius: 4px;
}

.drop-content th:last-child,
.drop-content td:last-child {
  border-top-right-radius: 4px;
}

.ProgrammaCdL {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333333; /* Testo scuro per buona leggibilità */
}

.ProgrammaCdL h1 {
  font-size: 1.5em;
  color: #444444; /* Titolo secondario in un grigio scuro */
  border-bottom: 1px solid #444444; /* Bordo scuro per i titoli secondari */
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.ProgrammaCdL h2 {
  font-size: 1.5em;
  color: #444444; /* Titolo secondario in un grigio scuro */
  border-bottom: 1px solid #444444; /* Bordo scuro per i titoli secondari */
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.ProgrammaCdL h3 {
  font-size: 1.2em;
  color: #555555; /* Titolo terziario in un grigio scuro */
  margin-bottom: 12px;
}

.ProgrammaCdL p {
  margin-bottom: 16px;
  font-size: 18px;
}

.ProgrammaCdL ul {
  margin: 10px 0;
  padding-left: 20px;
}

.ProgrammaCdL li {
  margin-bottom: 8px;
}

.ProgrammaCdL a {
  color: #1e90ff; /* Colore dei link in blu chiaro */
  text-decoration: none;
}

.ProgrammaCdL a:hover {
  text-decoration: underline;
}

.ProgrammaCdL .highlight {
  background-color: #f7f7f7; /* Sfondo chiaro per evidenziare */
  padding: 10px;
  border-left: 4px solid #1e90ff; /* Bordo blu per l'evidenziazione */
}

@media (max-width: 900px){
  .ProgrammaCdL p{
    font-size: 16px;
  }
}