nav {
    width: 100%; /* Larghezza del 100% della finestra del browser */
    color: #fff; /* Testo di colore bianco */
    padding: 4px 0; /* Spaziatura interna sopra e sotto di 4 pixel, 0 pixel a sinistra e a destra */
    position: fixed; /* Posizionamento fisso: l'elemento rimane fisso rispetto alla finestra del browser */
    top: 0; /* Allinea l'elemento al bordo superiore della finestra */
    left: 0; /* Allinea l'elemento al bordo sinistro della finestra */
    display: flex; /* Utilizza il modello di layout flexbox */
    align-items: center; /* Centra verticalmente gli elementi figli all'interno del contenitore */
    justify-content: space-between; /* Distribuisce gli elementi figli con spazio uguale tra di loro */
    z-index: 100000; /* Posiziona l'elemento sopra altri elementi con un valore di z-index inferiore */
  }
  
  .dark-nav{
    background-color: rgba(33, 46, 160, 1);
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Transizione fluida */}
  
  .logo {
      height: 70px;
  }
  
  .logo2{
    height: 70px;
    visibility: hidden;
  }
  
  .menu_icon{
    display: none;
    z-index: 1000;
  }
  
  .menu {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  
  .menu-link {
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
  }
  
  .dropdown-navbar {
    position: relative; /*necessario per collocare .dropdown-menu */
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 200%;
    width: 200px;
    background: #ebebeb;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1001; /* Ensure the dropdown menu appears above other elements */
  }
  
  .dropdown-menu a {
    color: black;
    font-weight: lighter;
    padding: 1rem;
  
  }
  
  .dropdown-menu a:hover {
    background-color: #ADD8E6;
  }
  
  .dropdown-menu.open {
    display: block;
  }
  
  .dropdown-menu .menu-link {
    display: block;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  @media (max-width: 1100px) {
    .menu {
      gap: 25px;
    }
    .dropdown-menu {
      width: 150px;
    }
  }
  
  
  @media (max-width: 900px) {
    .menu_icon{
      display: block;
      width: 30px;
  }
    
    .menu {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 250px;
      background: #212ea0;
      flex-direction: column;
      text-align: center;
      padding-top: 80px;
      transform: translateX(100%);
      gap: 30px;
    }
  
    
    .menu.open {
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
    }
  
  
    .menu span{
      width: 100%;
    }
  
    .menu-link {
      color: #fff;
      padding: 15px 0;
      width: 100%;
    }
  
    .dropdown-menu {
      position: static;
      width: 100%;
      margin: 15px auto 0;
      background: #0033665d;
      display: none;
      border-radius: 0;
    }
  
    .dropdown-menu a {
      color: #eee;
    }
  
    .dropdown-menu a:hover {
      color: black;
    }
  
    .menu span:last-child{
      background: none;
    }
  }
  