.home-component-container {
    margin: 0px auto 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
}

.home-component-top-section {
    display: flex;
    background: linear-gradient(to right, #003366, #6b92fd); /*lo passo per parametro*/
    padding: 20px;
    flex-wrap: wrap; /* Consente il wrapping dei figli */
}

.home-component-content-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.home-component-logo {
    height: 60px;
    border-radius: 10px;
}

.home-component-title h1 {
    font-size: 28px;
    margin: 0;
    text-align: left;
    line-height: 1;
}

.home-component-title h2 {
    font-size: 24px;
}

.home-component-title {
    margin: 20px 0;
    margin-left: 3%;
}

.home-component-features {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-left: 3%;
}

.home-component-features li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.home-component-features li::before {
    content: '🗹';
    margin-right: 10px;
    color: #28a745;
}

.home-component-features hr {
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 10px 0;
    opacity: .50;
}

.home-component-bottom-section {
    background-color: #ffffff;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.2);
}

.home-component-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.home-component-cta-text {
    font-size: 20px;
    font-weight: bold;
    color: #2d334e;
    text-align: start;
    padding-right: 10px;
}

.home-component-image-box {
    display: grid;
    place-items: center;
    margin: auto 40px;
    margin-left: 60px;
}

.home-component-image-box img {
    width: 250px;
    border-radius: 10px;
    transition: transform 0.5s ease; /* Applica una transizione fluida sulla trasformazione */
}

.home-component-image-box img:hover {
    transform: scale(1.05); /* Scala l'immagine del 20% */
}

.home-component-logo-div img:hover {
    animation: oscillazione 0.5s ease;
}

@keyframes oscillazione {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

@media (max-width: 900px) {
    .home-component-top-section {
        display: flex;
        flex-direction: column; /* Disposizione verticale per schermi più piccoli */
        align-items: center;
        padding: 20px; /*avevo escluso il margine destro*/
        padding-bottom: 10px;
    }

    .home-component-content-box {
        flex-direction: column; /* Disposizione verticale per contenuti */
        text-align: center; /* Centratura del testo */
        flex: 1;
        width: 100%;
    }

    .home-component-features {
        margin-left: 0;
    }

    .home-component-cta {
        display: flex;
        justify-content: flex-end;
    }

    .home-component-cta-text {
        display: none;
    }

    .home-component-image-box {
        margin: 20px auto;
        display: none;
    }

    .home-component-title h1 {
        font-size: 24px;
        margin: 0;
        text-align: center;
    }
    .home-component-title h2 {
        font-size: 20px;
        margin: 0;
        text-align: center;
    }

    .home-component-logo-div {
        display: flex;
        justify-content: left;
        height: 40px;
    }

    .home-component-logo-div img {
        height: 50px;
    }
    .home-component-features li {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        font-size: 14px;
    }
    .home-component-bottom-section {
        background-color: #ffffff;
        padding: 10px 30px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    }

    .home-component-features hr {
        margin: 5px 0;
    }
}
