.footer {
    position: relative;
    padding: 25px 10%;
    transition: background-color 0.5s ease, opacity 0.3s ease; /* Transizione fluida per background e opacità */
    background-color: #2d334e;
    margin: 0 auto;
    color: aliceblue;
    font-size: small;
  }
  
  .center {
    text-align: center;
    width: 100%;
    margin: 0; /* Assicura che non ci siano margini che potrebbero spostare il testo */
    padding: 0; /* Assicura che non ci siano padding che potrebbero spostare il testo */
    display: inline-block; /* Forza l'elemento a occupare solo lo spazio necessario */
  }

  .right{
    position: absolute;
    text-align: center;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }

/*media query*/
@media (max-width: 600px) {
  .footer{
    display: grid;
    justify-content: space-between;
  }

  .right{
    text-align: right;
  }
}