.tablePolo-container{
    margin-top: 120px;
}

.polo128CdL-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 90%;
    margin: 0 auto;
  }
  
  .polo128CdL-text p {
    font-size: 18px; /* Dimensione del font migliorata */
    line-height: 1.6; /* Maggiore altezza della linea per leggibilità */
    color: #333; /* Colore del testo scuro per contrasto */
    margin: 0 auto 30px;
  }