/* Componenti del dropdown */
.drop-component {
  width: 90%;
  border-radius: 4px;
  margin: 50px auto 90px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.drop2-item {
  border-bottom: 1px solid #dee2e6;
}

.drop2-item:last-child {
  border-bottom: none;
}

.drop2-header {
  color: #666;
  padding: 18px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-size: 18px;
  font-weight: 600;
}

.drop2-header:hover {
  background: #c4dce7;
}

.drop2-header.active {
  background: #c3cffa;
}

.drop2-content {
  padding: 25px 80px;
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  animation: slideDown 0.3s ease;
  font-size: 18px; /* Dimensione del font migliorata */
  line-height: 1.6; /* Maggiore altezza della linea per leggibilità */
  color: #333; /* Colore del testo scuro per contrasto */
}

.arrow2 {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.drop2-header.active .arrow {
  transform: rotate(360deg);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Stili delle tabelle */
.drop2-content table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
}

.drop2-content th,
.drop2-content td {
  padding: 10px;
  text-align: left;
}

/* Larghezza fissa per la prima colonna */
.drop2-content th:first-child,
.drop2-content td:first-child {
  width: 300px;
}

.drop2-content th {
  background-color: #343a40;
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.drop2-content ul li {
  list-style: none;
  line-height: 1.6;
}

.drop2-content a {
  font-weight: bold;
}

.drop2-content a:hover {
  text-decoration: underline;
}

.drop2-content td:nth-child(2) {
  padding-left: 20px; /* Distanza fissa dalla colonna di sinistra */
}

.drop2-content tr:nth-child(even) {
  background-color: #f8f9fa;
}


.drop2-content th:first-child,
.drop2-content td:first-child {
  border-top-left-radius: 4px;
}

.drop2-content th:last-child,
.drop21-content td:last-child {
  border-top-right-radius: 4px;
}

@media (max-width: 900px) {
  .drop2-header {
    font-size: 18px;
    padding: 14px 14px;
    text-align: center;
  }

  .drop2-content{
    padding: 16px 25px;
  }

  .drop2-content p{
    font-size: 16px;
  }
}
