.TablePolo128 table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  .TablePolo128 th, .TablePolo128 td {
    padding: 12px;
    text-align: left;
  }
  
  .TablePolo128 th {
    background-color: #212ea0;
    color: #fff;
  }
  
  .TablePolo128 td {
    background-color: #fff;
  }
  
  .TablePolo128 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .TablePolo128 li {
    background-color: #e0e7ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  
  .TablePolo128 li:hover {
    background-color: #c3cffa;
  }

  @media(max-width: 900px){
    .TablePolo128 td {
      font-size: 14px;
    }
  }